@import url('https://fonts.googleapis.com/css?family=Ek+Mukta|Montserrat');

/*
	Projectbox - main stylesheet for homepage
	created by Rommelt Pineda [PIN]


	index:
	[typo]
	[colors]

*/


/* typo */

html {
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}

p,
span {
	font-family: 'Ek Mukta', sans-serif;
}


/* colors */

.projectbox-color {
	color: #009b8d;
}

.projectbox-bg-color {
	background: #009b8d;
	color: #fff;
}

.white {
	color: #fff;
}

.dark {
	color: #000;
}

.dark a {
	color: #000;
}

a:hover {
	text-decoration: none;
	color:#fff;
}

/* navigation */

#fix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.navbar {
	height: 80px;
}

.navbar-brand {
	padding: 0;
}

.nav-item {
	color: #fff;
	margin: 20px;
}

#button {
	color: white;
	background: #00786e;
	border: 1px solid #009b8d;
	padding: 10px 15px 10px 16px;
	color: #ffffff;
	border-radius: 5px;
}

.navbar-item.is-tab:hover {
	color: #fff;
}

.navbar-item:hover,
.navbar-brand:hover,
.navbar-link:hover {
	background: #009b8d;
}

.navbar-brand {
	position: absolute;
	z-index: 1000;
	margin-top: 0px;
	margin-left: 170px;
	width: 80px;
	height: 80px;
}

.navbar-brand img {

}

.navbar a,
.navbar-brand a,
a {
	color: #fff;
	transition: 0.2s ease-out;
}

.navbar a:hover, .navbar-brand a:hover {
	color:#bdc3c7;
}


/* sections */

.card-block {
	padding: 10px;
}

.card {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	margin: 5px;
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section {
	padding: 30px;
	padding-bottom: 30px;
}

#adjust {
	margin-top: 30vh;
}

#adjust2 {
	margin-top: 40vh;
}

#top {
    min-height: 90vh;
    display: flex; /* NEW */
		background: url('../img/office.min.jpg');
		background-repeat: center center no-repeat;
 		 background-size: cover;
 		 color:#fff;
}

#pre-footer a{
	color:#000;
}

.dark a:hover {
	color:#009b8d;
}

footer, .footer, .dark, .footer a{
	background-color:#131518;
	color: #7c828e;
}

.card-text {
	font-size: 1.2rem;
}

.splitter {
	min-height:10px;
	background-color:#191b1f;
}

#down {
	position: absolute;
	margin-top: 230px;
}

#project-fade {
	margin-top: 70px;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

h1 {
	position: relative;
}

h1 span, h2 span, section span {
	position:absolute;
	top:-120px;
}

#textdownloads {
	position: absolute;
	margin-top: 180px;
}

#functions {
	padding: 30px;
}

#pcimage{
	margin-top: 30px;
	margin-bottom: 30px;
}

footer {
	padding: 30px;
}
