@import '~/nativescript-theme-core/css/core.light.css';
@import url("~/platform.css");
@import url("~/custom.css");

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

Page {
    background-color: #ECEDEE;
    font-size: 15;
  }


  TextField {
    padding: 10;
    font-size: 15;
  }


.h1, .h2, .h3, .h4, .h5 {
  font-family: "Montserrat-Medium";
}


.nav-h1, .nav-h2, .nav-h3, .nav-h4, .nav-h5 {
  font-family: "Montserrat-Medium";
  color: #fff;
}

.text {
  font-family: "Mukta-Light";
}

.page {
 padding-left: 20;
}

.center {
    text-align: center;
}

/* Navigation */

.sideStackLayout {
  background-color: #29A699;
  color: #FFFFFF;
}

.sideTitleStackLayout {
  padding: 16;
  font-weight: bold;
  background-color: #29A699;
}

.sideLabel {
  padding: 16;
}

.listItemStackLayout {
  padding: 16;
  background-color: #FFFFFF;
}

.archiveViewStackLayout {
  padding: 16;
  background-color: #387EF5;
  color: #FFFFFF;
}

.deleteViewStackLayout {
  padding: 16;
  background-color: #EF473A;
  color: #FFFFFF;
}


.full-name, .e-mail-nav {
  text-align: center;
}

.nav-items {
  padding: 20;
}

ActionBar {
  color: #fff;
  background-color: #29A699;
  text-align: center;
}

.side-nav-items {
  padding: 20;
}