StackLayout {
  height: 100%;
  width: 100%;
  padding: 10;
}

Border{
  margin-top: 10;
  margin-bottom: 10;
}

.hours{
  width:50;
}

.minutes{
  width:50;
}

TextField{

}

Image{
  width:50;
  height:50;
  margin: 50;
}