<ActionBar title="">
    <GridLayout rows="*,*,*" columns="*">
        <Label class="fa" (tap)="nav.openDrawer()" [text]="'fa-bars' | fonticon" ios:horizontalAlignment="left"
               android:horizontalAlignment="left" row="0" col="0"></Label>
        <Label text="Tasks" class="nav-h3" row="0" col="1"></Label>
        <Label class="fa" (tap)="cr_task()" [text]="'fa-plus' | fonticon" ios:horizontalAlignment="right"
               android:horizontalAlignment="right" row="0" col="2"></Label>
    </GridLayout>
</ActionBar>
<StackLayout class="page" width="100%">
    <StackLayout *ngIf="!create">
        <GridLayout columns="*" rows="auto,auto,auto">
            <Label class="h1" text="TASKS" col="0" row="0"></Label>
            <StackLayout class="marginitem" col="0" row="1">
                <GridLayout class="marginitem" *ngFor="let task of todos" columns="auto,*" rows="auto,auto,auto"
                            (tap)="expand(task.id)">
                    <Label class="borderitem" height="50" col="0" rowSpan="2"></Label>
                    <GridLayout col="1" class="listitem" rowSpan="2" columns="*,*" rows="*,*">
                        <StackLayout col="0" row="0" orientation="horizontal">
                            <!--<Image src="~/images/toptask.png" width="25" height="25" stretch="aspectFit"></Image>-->
                            <Label [text]="task.name" class="longtext h4" col="0"
                                      row="0"></Label>
                        </StackLayout>
                        <Label class="text ticket" [text]="task.due_date" col="0" row="1"></Label>
                        <Label class="fa ticket indicator-tickets right" [text]="'fa-angle-down' | fonticon" col="1"
                               rowSpan="2"></Label>
                    </GridLayout>
                    <StackLayout col="1" row="3" *ngIf="todoForDetail[task.id]" class="details">
                        <Label class="h4" [text]="task.project"></Label>
                        <TextView
                                [text]="description"
                                editable="false" textWrap="true" class="longtext"></TextView>
                        <GridLayout rows="*" columns="auto,auto,*">
                            <StackLayout (tap)="startTimer(task.id)" class="btn-img margin-right-10" row="0" col="0">
                                <Image [src]="currentTrackings[task.id].finished ? '~/images/play2.png' : '~/images/stop2.png'"
                                       width="15" height="15" stretch="aspectFit"></Image>
                            </StackLayout>
                            <Label class="h4 time" verticalAlignment="center"
                                   [text]="currentTrackings[task.id].timerString" col="1" row="0"></Label>
                            <StackLayout orientation="horizontal" horizontalAlignment="right" col="2" row="0">
                            <StackLayout class="btn-img tt-actions" (tap)="goToDetail(task.id)">
                                <Image src="~/images/edit2.png" width="15" height="15" stretch="aspectFit"></Image>
                            </StackLayout>
                            <StackLayout class="btn-img tt-actions" (tap)="done(task.id)">
                                <Image src="~/images/done2.png" width="15" height="15" stretch="aspectFit"></Image>
                            </StackLayout>
                            <StackLayout class="btn-img tt-actions attention" (tap)="delete(task.id)">
                                <Image src="~/images/delete2.png" width="15" height="15" stretch="aspectFit"></Image>
                            </StackLayout>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <StackLayout *ngIf="create" class="form-taskticket">
        <Label class="fa" [text]="'fa-angle-down' | fonticon" horizontalAlignment="center"></Label>
        <Label class="h5" text="TITEL"></Label>
        <TextField class="textfield" [(ngModel)]="newTodo.name"></TextField>
        <Label class="h5" text="DEADLINE"></Label>
        <TextField class="textfield" hint="DD.MM.YYYY" [(ngModel)]="newTodo.planned"></TextField>
        <Label class="h5" text="PROJEKT"></Label>
        <!--<TextField class="textfield" [(ngModel)]="todo.project"></TextField>-->
        <DropDown #dd
                  style="padding: 5;font-size: 15;background-color: #EBEBEB;margin-bottom:15;"
                  [items]="projectList"
                  [selectedIndex]="selectedProject"
                  (selectedIndexChanged)="getPhases($event)"
                  (opened)="onopen()"
                  (closed)="getPhases()"></DropDown>
        <Label class="h5" text="PHASE"></Label>
        <DropDown #phasedd
                  style="padding: 5;font-size: 15;background-color: #EBEBEB;margin-bottom:15;"
                  [items]="phaseSelection"
                  (selectedIndexChanged)="selectPhase($event)"
                  (opened)="onopen()" A
                  (closed)="onclose()"></DropDown>
        <Label class="h5" text="VERANTWORTLICHER"></Label>
        <TextField class="textfield" [(ngModel)]="newTodo.user"></TextField>
        <Label class="h5" text="BESCHREIBUNG"></Label>
        <TextField class="textfield" [(ngModel)]="newTodo.description"></TextField>
        <Label class="field-seperator" height="1"></Label>
        <GridLayout columns="*,*" rows="*,*">
            <Image [src]="task_tabs == 'timetracking' ? '~/images/timetracking_t.png' : '~/images/timetracking_g.png'" (tap)="state('timetracking')" row="0" col="0" width="20"
                   height="20"
                   stretch="aspectFit"></Image>
            <Image [src]="task_tabs == 'kommentare' ? '~/images/kommentare_t.png' : '~/images/kommentare_g.png'" (tap)="state('kommentare')" row="0" col="1" width="40"
                   height="20"
                   stretch="aspectFit"></Image>
            <Label class="h4" text="Timetracking" [style.color]="task_tabs == 'timetracking' ? '#03A698' : '#222222'" (tap)="state('timetracking')" col="0" row="1"
                   horizontalAlignment="center"></Label>
            <Label class="h4" text="Kommentare" [style.color]="task_tabs == 'kommentare' ? '#03A698' : '#222222'" (tap)="state('kommentare')" col="1" row="1"
                   horizontalAlignment="center"></Label>
        </GridLayout>
        <Label class="field-seperator" height="1"></Label>
        <StackLayout [ngSwitch]="task_tabs">
            <StackLayout *ngSwitchCase="'timetracking'">
                <GridLayout columns="*,*" rows="*">
                    <Label class="h5" col="0" row="0" text="Gesamtdauer"></Label>
                    <Label class="h5" col="1" row="0" text="00:00:00" horizontalAlignment="right"></Label>
                </GridLayout>
            </StackLayout>
            <StackLayout *ngSwitchCase="'kommentare'">
                <StackLayout>
                    <GridLayout rows="auto, auto" columns="auto, *">
                        <Image src='~/images/user.png' width="30" height="30"
                               stretch="aspectFit" rowSpan="1" col="0"></Image>
                        <TextView text="MANUEL GAFOZ Neue DEADLINE: Ende Jänner" editable="false"
                                  textWrap="true"
                                  class="longtext h4" col="1"
                                  row="0"></TextView>
                        <Label text="16. Oktober 2017 um 16:35" col="1" row="1"></Label>
                    </GridLayout>
                    <GridLayout rows="auto" columns="auto, *, auto">
                        <Image src='~/images/user.png' width="30" height="30"
                               stretch="aspectFit" row="0" col="0"></Image>
                        <TextField class="textfield" hint="Kommentieren" [(ngModel)]="newComment.message" col="1" row="0"></TextField>
                        <StackLayout class="btn-img margin-left-10" (tap)="createComment(task.id)" row="0" col="2">
                            <Image src="~/images/send.png" width="30" height="30" stretch="aspectFit"></Image>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <Label class="field-seperator" height="1"></Label>
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <StackLayout class="btn-img" (tap)="cancel()">
                <Image src="~/images/abbrechen2.png" width="30" height="30" stretch="aspectFit"></Image>
            </StackLayout>
            <StackLayout class="btn-img" (tap)="createTodo()">
                <Image src="~/images/save.png" width="30" height="30" stretch="aspectFit"></Image>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>