<ActionBar title="">
    <NavigationButton text="Sandwich-Bar" android.systemIcon="ic_menu_moreoverflow"
                      (tap)="nav.openDrawer()"></NavigationButton>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center">
        <Label text="Tasks" class="action-label nav-h3"></Label>
    </StackLayout>
    <ActionItem (tap)="cr_task()" android.systemIcon="ic_menu_add" ios.systemIcon="4" ios.position="right"></ActionItem>
</ActionBar>
<StackLayout class="page" width="100%">
    <StackLayout *ngIf="!create">
        <GridLayout columns="*" rows="auto,auto,auto">
            <Label class="h1" text="TOP-TASKS" col="0" row="0"></Label>
            <StackLayout class="marginitem" col="0" row="1">
                <GridLayout class="marginitem" *ngFor="let task of todos" columns="auto,*" rows="auto,auto,auto"
                            (tap)="expand(task.id)">
                    <Label class="borderitem" height="50" col="0" rowSpan="2"></Label>
                    <GridLayout col="1" class="listitem" rowSpan="2" columns="*,*" rows="*,*">
                        <StackLayout col="0" row="0" orientation="horizontal">
                            <Image src="~/images/toptask.png" width="25" height="25" stretch="aspectFit"></Image>
                            <TextView [text]="task.name" editable="false" textWrap="true" class="longtext h4" col="0"
                                      row="0"></TextView>
                        </StackLayout>
                        <Label class="text ticket" [text]="task.created_at" col="0" row="1"></Label>
                        <Label class="fa ticket indicator-tickets right" [text]="'fa-angle-down' | fonticon" col="1"
                               rowSpan="2"></Label>
                    </GridLayout>
                    <StackLayout col="1" row="3" *ngIf="todoForDetail[task.id]" class="details">
                        <Label class="h4" text="CCF Configuration Forge"></Label>
                        <TextView
                                text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore."
                                editable="false" textWrap="true" class="longtext"></TextView>
                        <StackLayout orientation="horizontal">
                            <StackLayout (tap)="startTimer(task.id)"class="btn-img" (tap)="cancel()">
                                <Image src="~/images/play2.png" width="15" height="15" stretch="aspectFit"></Image>
                            </StackLayout>
                            <Label class="h4 time" verticalAlignment="center" [text]="timerString"></Label>
                            <StackLayout class="btn-img" (tap)="cancel()">
                                <Image src="~/images/edit2.png" width="15" height="15" stretch="aspectFit"></Image>
                            </StackLayout>
                            <StackLayout class="btn-img" (tap)="cancel()">
                                <Image src="~/images/done2.png" width="15" height="15" stretch="aspectFit"></Image>
                            </StackLayout>
                            <StackLayout class="btn-img attention" (tap)="cancel()">
                                <Image src="~/images/delete2.png" width="15" height="15" stretch="aspectFit"></Image>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <Label class="h1" text="WEITERE TASKS" col="0" row="2"></Label>
        </GridLayout>
    </StackLayout>
    <StackLayout *ngIf="create" class="form-taskticket">
        <Label class="fa" [text]="'fa-angle-down' | fonticon" horizontalAlignment="center"></Label>
        <Label class="h5" text="TITEL"></Label>
        <TextField class="textfield" [(ngModel)]="newTodo.name"></TextField>
        <Label class="h5" text="DEADLINE"></Label>
        <TextField class="textfield" [(ngModel)]="newTodo.planned"></TextField>
        <Label class="h5" text="VERANTWORTLICHER"></Label>
        <TextField class="textfield" [(ngModel)]="newTodo.user"></TextField>
        <Label class="h5" text="PROJEKT"></Label>
        <TextField class="textfield" [(ngModel)]="newTodo.project"></TextField>
        <Label class="h5" text="BESCHREIBUNG"></Label>
        <TextField class="textfield" [(ngModel)]="newTodo.description"></TextField>
        <Label class="field-seperator" height="2"></Label>
        <GridLayout columns="*,*" rows="*">
            <Label class="h3" col="0" row="0" text="TOP-TASK"></Label>
            <Switch checked="false" col="1" row="0" (checkedChange)="onFirstChecked($event)"
                    horizontalAlignment="right"></Switch>
        </GridLayout>
        <Label class="field-seperator" height="2"></Label>
        <GridLayout columns="*,*" rows="*,*">
            <Image src="~/images/timetracking.png" row="0" col="0" width="20" height="20" stretch="aspectFit"></Image>
            <Image src="~/images/kommentare.png" row="0" col="1" width="40" height="20" stretch="aspectFit"></Image>
            <Label class="h4" text="Timetracking" col="0" row="1" horizontalAlignment="center"
                   (tap)="showTimeTrack()"></Label>
            <Label class="h4" text="Kommentare" col="1" row="1" horizontalAlignment="center"
                   (tap)="showComments()"></Label>
        </GridLayout>
        <Label class="field-seperator" height="2"></Label>
        <GridLayout columns="*,*" rows="*">
            <Label class="h3" col="0" row="0" text="Gesamtdauer"></Label>
            <Label class="h3" col="1" row="0" text="00:00:00" horizontalAlignment="right"></Label>
        </GridLayout>
        <Label class="field-seperator" height="2"></Label>
        <StackLayout orientation="horizontal" horizontalAlignment="right">
            <StackLayout class="btn-img" (tap)="cancel()">
                <Image src="~/images/abbrechen2.png" width="30" height="30" stretch="aspectFit"></Image>
            </StackLayout>
            <StackLayout class="btn-img" (tap)="createTodo()">
                <Image src="~/images/save.png" width="30" height="30" stretch="aspectFit"></Image>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>