.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: white;
}

.data {
    margin-left: 10;
    margin-top: 10;
    margin-bottom: 10;
}

h1 {
  font-weight: 500;
  font-size: 15;
}
