.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
TextField {
  color: white;
}

.data {
    margin-left: 10;
    margin-top: 10;
    margin-bottom: 10;
}

h1 {
  font-weight: 500;
  font-size: 15;
}

.task, #task-h1 {
  vertical-align: middle;
  background-color: #F3F4F4;
}

/* Meeting */ 

.meeting {
  vertical-align: middle;
  background-color: #F3F4F4;
<<<<<<< HEAD
=======
  margin-bottom: 20;
>>>>>>> d561e004693d90dedff1985b83f69355aaede815
}

.meeting-indicator {
  vertical-align:center;
  text-align:center;
}

.meeting-cont {
  vertical-align:center;
  text-align:right;
  font-size: 50;
}

.meeting-border {
  height:100;
  width:5;
  top:0;
  border-color: #C0BEBD;
  background-color:#C0BEBD;
  border-width: 5 5 5 5;
}

.project {
  background-color: #F3F4F4;
}
