@import '~/nativescript-theme-core/css/core.light.css';
@import url("~/custom.css");
.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

Page {
    background-color: #dee8e7;
    font-size: 15;
}

TextField {
    padding: 10;
    font-size: 15;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: "Montserrat-Medium";
}

.nav-h1,
.nav-h2,
.nav-h3,
.nav-h4,
.nav-h5 {
    font-family: "Montserrat-Medium";
    color: #fff;
}

.text,
Label,
.textfield {
    font-family: "Mukta-Light";
}

.page {
    padding-left: 20;
    background-color: #dee8e7;
}

.center {
    text-align: center;
}


/* Navigation */

.sideStackLayout {
    background-color: #29A699;
    color: #FFFFFF;
}

.sideTitleStackLayout {
    padding: 16;
    font-weight: bold;
    background-color: #29A699;
}

.sideLabel {
    padding: 16;
    color: #fff;
}

.listItemStackLayout {
    padding: 16;
    background-color: #FFFFFF;
}

.archiveViewStackLayout {
    padding: 16;
    background-color: #387EF5;
    color: #FFFFFF;
}

.deleteViewStackLayout {
    padding: 16;
    background-color: #EF473A;
    color: #FFFFFF;
}

.full-name,
.e-mail-nav {
    text-align: center;
}

.full-name {
    margin-top: 10;
    font-weight: bold;
    font-size: 20;
}

.e-mail-nav {
    font-size: 12;
}

.nav-items {
    padding: 20;
}

ActionBar {
    color: #fff;
    background-color: #29A699;
    text-align: center;
}

.side-nav-items {
    padding: 20;
    color: #fff;
}

.nav-label {
    color: #fff;
}


/* from dashboard */

.add-bar {
    background-color: #CB1D00;
    padding: 5 10;
}

.add-bar Image {
    height: 15;
    vertical-align: center;
    margin-left: 10;
    margin-right: 5;
}

.data {
    margin-left: 10;
    margin-top: 10;
    margin-bottom: 10;
}

h1 {
    font-weight: 500;
    font-size: 15;
}

.task,
#task-h1 {
    vertical-align: middle;
    background-color: #F3F4F4;
}


/* Meeting */

.meeting {
    vertical-align: middle;
    background-color: #F3F4F4;
    margin-bottom: 20;
}

.meeting-indicator {
    vertical-align: center;
    text-align: center;
}

.meeting-cont {
    vertical-align: center;
    text-align: right;
    font-size: 50;
}

.meeting-border {
    height: 100;
    width: 5;
    top: 0;
    border-color: #C0BEBD;
    background-color: #C0BEBD;
    border-width: 5 5 5 5;
}

.project {
    background-color: #F3F4F4;
}

.projects {
    margin: 20;
}

.hr {
    height: 10;
    border-color: #000000;
    width: 100%;
}


/* tickets and tasks */

.border-tickets {
    margin-top: 5;
    border-color: blue blue blue blue;
    border-width: 5 5 5 5;
    vertical-align: top;
}

.ticket {
    background-color: #fff;
    margin-left: 2;
    margin-bottom: 2;
}

.margin-ticket {
    margin-bottom: 10;
}

.data {
    margin-left: 10;
    margin-top: 10;
    margin-bottom: 10;
}

h1 {
    font-weight: 500;
    font-size: 15;
}

.right {
    text-align: right;
    margin-right: 20;
    vertical-align: middle;
}

.expand-detail {
    background-color: #ffffff;
}

.details {
    margin-top: 0;
    background-color: #ffffff;
    color: #000000;
}

.longtext {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    border-color: #ffffff;
}