StackLayout {
  height: 100%;
  width: 100%;
  padding: 10;
}
GridLayout {
  border-color: black;
  border-width: 1;
  border-radius: 5;
  padding:5;
  margin:5;
}

Border{
  margin-top: 10;
  margin-bottom: 10;
}

.hours{
  width:50;
}

.minutes{
  width:50;
}

TextField{

}