@import url('https://fonts.googleapis.com/css?family=Ek+Mukta|Montserrat');

/*
	Projectbox - main stylesheet for homepage
	created by Rommelt Pineda [PIN]


	index:
	[typo]
	[colors]

*/

/* carousel */
#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 250px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}
/* typo */

html {
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}

p,
span {
	font-family: 'Ek Mukta', sans-serif;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 1.5rem;
font-weight: 600;
line-height: 3;
}
p {
  font-size: 2vmin;
}



/* colors */

.projectbox-color {
	color: #009b8d;
}

.projectbox-bg-color {
	background: #009b8d;
	color: #fff;
}

.white {
	color: #fff;
}

/* navigation */
#fix {
	position: fixed;
	top:0;
	width: 100%;
	z-index: 100;
}

.navbar-item {
  color: #fff;
}

.navbar-item.is-tab:hover{
  color: #fff;
}

.navbar-item:hover, .navbar-brand:hover, .navbar-link:hover{
background: #009b8d;
}


/* sections */
#documents {
}