.border-tickets {
    margin-top: 5;
    border-color: blue blue blue blue;
    border-width: 5 5 5 5;
    vertical-align: top;
}

.ticket {
    background-color: #fff;
    margin-left: 2;
    margin-bottom: 2;
}

.margin-ticket {
  margin-bottom: 10;
}
  
  .data {
      margin-left: 10;
      margin-top: 10;
      margin-bottom: 10;
  }
  
  h1 {
    font-weight: 500;
    font-size: 15;
  }
  
.right {
  text-align: right;
  margin-right: 20;
  vertical-align: middle;
}

.expand-detail {
  background-color: #ffffff;
}

.details {
  margin-top: 0;
  margin-right: 20;
  background-color: #ffffff;
}