<ActionBar title="Tickets">
        <NavigationButton text="Sandwich-Bar" android.systemIcon="ic_menu_moreoverflow" (tap)="openDrawer()"></NavigationButton>
        <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="center">
        <Label text="Tickets" class="action-label nav-h3"></Label>
      </StackLayout>
      <ActionItem ios.position="right" android.position="actionBar" ios.systemIcon="13" android.systemIcon="ic_menu_refresh" (tap)="aktualisieren()"></ActionItem>
</ActionBar>
    <ScrollView orientation="vertical" isEnabled="true" width="100%" height="100%" >
        <AbsoluteLayout>
            <StackLayout class="page" width="100%">
                <StackLayout *ngIf="!create">
            <GridLayout columns="*" rows="auto,auto,auto">
            <Label class="h1" text="TOP-TICKETS" col="0" row="0"></Label>
            <StackLayout class="margin-ticket" col="0" row="1">
            <GridLayout *ngFor="let ticket of tickets" columns="auto,*" rows="50,50,200" (tap)="expand(ticket.id)">
                <Label class="border-tickets" height="50" col="0" rowSpan="2"></Label>
                <GridLayout col="1" class="ticket" rowSpan="2" columns="*,*" rows="*,*">
                <Label class="h3 ticket" [text]="ticket.name" col="0" row="0"></Label>
                <Label class="h5 ticket" [text]="ticket.date" col="0" row="1"></Label>
                <Label class="fa ticket indicator-tickets right" [text]="'fa-angle-down' | fonticon" col="1" rowSpan="2"></Label>
            </GridLayout>
                <GridLayout class="expanded" *ngIf="ticketForDetail[ticket.id]" col="1" row="3" columns="*,*,*,*" rows="*,*,*">
                    <Label colSpan="3" class="h5" row="0" [text]="ticket.description"></Label>
                    <Label colSpan="3" class="h5" row="1" [text]="ticket.id"></Label>
                </GridLayout>
            </GridLayout>
        </StackLayout>
            <Label class="h1" text="WEITERE TICKETS" col="0" row="2"></Label>
        </GridLayout>
            </StackLayout>
            <StackLayout *ngIf="create" class="expand-detail">
                    <Label class="h4 center" text="DOWN"></Label>
                    <Label class="h4" text="TITEL"></Label>
                    <TextField class="textfield" [(ngModel)]="meeting.name"></TextField>
                    <Label class="h4" text="ORT"></Label>
                        <TextField class="textfield" [(ngModel)]="meeting.location"></TextField>
                        <Label class="h4" text="DATUM"></Label>
                        <TextField class="textfield" [(ngModel)]="meeting.date"></TextField>
                        <Label class="h4" text="ZEIT / DAUER"></Label>
                        <TextField class="textfield" [(ngModel)]="meeting.duration"></TextField>
                        <Label class="h4" text="TEILNEHMER"></Label>
                        <TextField class="textfield" [(ngModel)]="meeting.attendees"></TextField>
                        <StackLayout orientation="horizontal" horizontalAlignment="right">
                            <Button class="btn btn-primary btn-active" (tap)="cancel()" text="Abbrechen"></Button>
                            <Button class="btn btn-primary btn-active" (tap)="createMeeting()" text="Erstellen"></Button>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
        </AbsoluteLayout>
    </ScrollView>