<ActionBar title="">
    <NavigationButton text="Sandwich-Bar" android.systemIcon="ic_menu_moreoverflow" (tap)="openDrawer()"></NavigationButton>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center">
        <Label text="Meetings
    " class="action-label nav-h3"></Label>
    </StackLayout>
    <ActionItem (tap)="cr_meeting()" android.systemIcon="ic_menu_add" ios.systemIcon="4" ios.position="right"></ActionItem>
</ActionBar>
<ScrollView orientation="vertical" isEnabled="true" width="100%" height="100%">
    <AbsoluteLayout>
        <StackLayout width="100%" style="padding:0;margin:0;">
            <StackLayout *ngIf="!create">
                <Calendar style="margin-left:0;padding-right:0;background-color:#ffffff;padding:10;" [settings]="settings" [events]="events" [appearance]="appearance" (dateSelected)="dateSelected($event)" (monthChanged)="monthChanged($event)" (loaded)="calendarLoaded($event)"> </Calendar>
                <StackLayout class="page">
                    <GridLayout *ngFor="let item of meetings" columns="80,auto,auto,*" rows="auto,auto,*" [nsRouterLink]="['/meeting_detail', item.id]" class="meeting" marginBottom="10" shadow="2">
                        <Label text="HEUTE" col="0" row="0" rowSpan="3" class="meeting-indicator h4" margin="0 0 0 5" shadow="2"></Label>
                        <Border cornerRadius="5" col="1" rowSpan="3" class="meeting-border" margin="5"></Border>
                        <Label [text]="item.name" textWrap="true" class="h4" col="2" margin="5 0 0 0"></Label>
                        <Label [text]="item.date" col="2" row="1" class="text" margin="0"></Label>
                        <Label [text]="item.location" col="2" row="2" class="text" margin="0 5 0 0"></Label>
                        <Label text="..." col="3" rowSpan="3" class="meeting-cont" margin="0 20 20 20"></Label>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
            <StackLayout *ngIf="create" class="form-taskticket">
                <Label class="fa" [text]="'fa-angle-down' | fonticon" horizontalAlignment="center"></Label>
                <Label class="h5" text="TITEL"></Label>
                <TextField class="textfield" hint="Ergebnisse, Punkte, ...." [(ngModel)]="meeting.name"></TextField>
                <Label class="h5" text="ORT"></Label>
                <TextField class="textfield" hint="Ergebnisse, Punkte, ...." [(ngModel)]="meeting.location"></TextField>
                <Label class="h5" text="DATUM"></Label>
                <TextField class="textfield" hint="Ergebnisse, Punkte, ...." [(ngModel)]="meeting.date"></TextField>
                <Label class="h5" text="ZEIT / DAUER"></Label>
                <TextField class="textfield" hint="Ergebnisse, Punkte, ...." [(ngModel)]="meeting.duration"></TextField>
                <Label class="h5" text="TEILNEHMER"></Label>
                <TextField class="textfield" hint="Ergebnisse, Punkte, ...." [(ngModel)]="meeting.attendees"></TextField>
                <Label class="field-seperator" height="2"></Label>
                <GridLayout columns="*,*,*" rows="*,*,*">
                    <Image src="~/images/timetracking.png" row="0" col="0" width="20" height="20" stretch="aspectFit"></Image>
                    <Image src="~/images/kommentare.png" row="0" col="1" width="40" height="20" stretch="aspectFit"></Image>
                    <Image src="~/images/kommentare.png" row="0" col="2" width="40" height="20" stretch="aspectFit"></Image>
                    <Label class="h4" text="Agenda" col="0" row="1" horizontalAlignment="center" (tap)="showTimeTrack()"></Label>
                    <Label class="h4" text="Protokoll" col="1" row="1" horizontalAlignment="center" (tap)="showComments()"></Label>
                    <Label class="h4" text="Files" col="2" row="1" horizontalAlignment="center" (tap)="showComments()"></Label>
                </GridLayout>
                <TextView class="textfield" style="margin-top: 15px" borderColor="#DEDEDE" borderWidth="1" height="100px" hint="Ergebnisse, Punkte, ...." returnKeyType="send" class="input input-border"></TextView>
                <StackLayout orientation="horizontal" horizontalAlignment="right">
                    <StackLayout class="btn-img" (tap)="cancel()">
                        <Image src="~/images/abbrechen2.png" width="30" height="30" stretch="aspectFit"></Image>
                    </StackLayout>
                    <StackLayout class="btn-img" (tap)="createMeeting()">
                        <Image src="~/images/save.png" width="30" height="30" stretch="aspectFit"></Image>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </AbsoluteLayout>
</ScrollView>