<ActionBar title="">
    <NavigationButton text="Sandwich-Bar" android.systemIcon="ic_menu_moreoverflow" (tap)="nav.openDrawer()"></NavigationButton>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center">
        <Label text="Dashboard" class="action-label nav-h3"></Label>
    </StackLayout>
    <ActionItem (tap)="aktualisieren()" android.systemIcon="ic_menu_add" ios.systemIcon="4" ios.position="right"></ActionItem>
</ActionBar>
<StackLayout>
    <Label *ngIf="offlinemode" text="OFFLINE" style="text-align:center;background-color:rgb(99, 228, 178);"></Label>
    <GridLayout columns="auto, *" rows="auto">
        <Label text="PROJEKTE" (tap)="showAllProjects()" row="0" col="0" class="h2"></Label>
        <Label text="see all >" row="0" col="1" style.horizontalAlignment="right" style.verticalAlignment="bottom" class="text" style="margin-right:10;" (tap)="showAllProjects()"></Label>
    </GridLayout>
    <StackLayout orientation="horizontal">
        <StackLayout orientation="horizontal" *ngFor="let item of projects">
            <Label class="borderitem" [ngStyle]="{'background-color': item.color}" height="50"></Label>
            <Label [text]="item.name" (tap)="filterByProject(item.id)" class="h4 projects" verticalAlignment="stretch"></Label>
        </StackLayout>
    </StackLayout>
    <Label text="TASKS" (tap)="nav.state('todo')" class="h2"></Label>
    <StackLayout>
        <GridLayout class="marginitem" *ngFor="let task of displayedTodos" columns="auto,*" rows="auto,auto">
            <Label class="borderitem" height="50" col="0" rowSpan="2"></Label>
            <GridLayout col="1" class="listitem" rowSpan="2" columns="*,*" rows="*,*">
                <StackLayout col="0" row="0" orientation="horizontal">
                    <Image src="~/images/toptask.png" width="25" height="25" stretch="aspectFit"></Image>
                    <TextView [text]="task.name" editable="false" textWrap="true" class="longtext h4" col="0" row="0"></TextView>
                </StackLayout>
                <Label class="text ticket" [text]="task.created_at" col="0" row="1"></Label>
            </GridLayout>
        </GridLayout>
    </StackLayout>
    <Label text="MEETINGS" class="h2" (tap)="nav.state('meeting')"></Label>
    <StackLayout>
        <GridLayout *ngFor="let item of displayedMeetings" columns="auto, *" rows="auto" [nsRouterLink]="['/meeting_detail', item.id]">
            <Label class="borderitem" height="60" col="0" row="0"></Label>
            <GridLayout columns="80,auto,auto,*" rows="auto,auto,*" col="1" row="0" class="meeting">
                <Label text="HEUTE" col="0" row="0" rowSpan="3" class="meeting-indicator h4" margin="0 0 0 5" shadow="2"></Label>
                <Label col="1" rowSpan="3" class="hr-light" width="1" height="80%" margin="5"></Label>
                <Label [text]="item.name" textWrap="true" class="h4" col="2" margin="5 0 0 0"></Label>
                <Label [text]="item.date" col="2" row="1" class="text" margin="0"></Label>
                <Label [text]="item.location" col="2" row="2" class="text" margin="0 5 0 0"></Label>
                <Label text="..." col="3" rowSpan="3" class="meeting-cont" margin="0 20 20 20"></Label>
            </GridLayout>
        </GridLayout>
    </StackLayout>
</StackLayout>