<ActionBar title="Meeting">
        <ActionItem (tap)="cr_meeting()" android.systemIcon="ic_menu_add"
            ios.systemIcon="4" ios.position="right"></ActionItem>
      </ActionBar>
<ScrollView orientation="vertical" isEnabled="true" width="100%" height="100%">
    <AbsoluteView>
<StackLayout>
    <StackLayout *ngIf="!create">
        <Calendar [settings]="settings" [events]="events" [appearance]="appearance"
        (dateSelected)="dateSelected($event)" (monthChanged)="monthChanged($event)" (loaded)="calendarLoaded($event)">
</Calendar>
                    <GridLayout *ngFor="let item of meetings" columns="80,auto,auto,*" rows="auto,auto,*" (tap)="showDetail(item.id)" class="meeting"  marginBottom="10">
                        <Label text="HEUTE" col="0" row="0" rowSpan="3" class="meeting-indicator h4" margin="0 0 0 5"></Label>
                        <Border cornerRadius="5" col="1" rowSpan="3" class="meeting-border" margin="5"></Border>
                        <Label [text]="item.name" textWrap="true" class="h4" col="2" margin="5 0 0 0"></Label>
                        <Label [text]="item.date" col="2" row="1"  class="text" margin="0"></Label>
                        <Label [text]="item.location" col="2" row="2" class="text" margin="0 5 0 0"></Label>
                        <Label text="..." col="3" rowSpan="3" class="meeting-cont" margin="0 20 20 20"></Label>
                    </GridLayout>
        </StackLayout>
    <StackLayout *ngIf="create">
            <StackLayout id="meeting-detail" shadow elevation="-20">
                    <Label class="h4 center" text="DOWN"></Label>
                    <Label class="h4" text="TITEL"></Label>
                    <TextField class="textfield" [(ngModel)]="meeting.name"></TextField>
                    <Label class="h4" text="ORT"></Label>
                        <TextField class="textfield" [(ngModel)]="meeting.location"></TextField>
                        <Label class="h4" text="DATUM"></Label>
                        <TextField class="textfield" [(ngModel)]="meeting.date"></TextField>
                        <Label class="h4" text="ZEIT / DAUER"></Label>
                        <TextField class="textfield" [(ngModel)]="meeting.duration"></TextField>
                        <Label class="h4" text="TEILNEHMER"></Label>
                        <TextField class="textfield" [(ngModel)]="meeting.attendees"></TextField>
                        <Button (tap)="createMeeting()" text="create new Meeting!"></Button>
                    </StackLayout>
    </StackLayout>
    </StackLayout>
    </AbsoluteView>
</ScrollView>