StackLayout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #00a699;
}

Image {
  height: 35%;
}

TextField {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  margin-bottom: 4%;
}
.submit-button {
  background-color: #97dbd5;
  color: black;
  margin-left: 3.8%;
  margin-right: 3.8%;
}

#logo{
  margin:20;
  margin-top: 11%; /* 93 = 11% */
  margin-bottom: 9%;
}
/*
  Oben bis Logo: 93;
  Links und rechts von Logo: 111;
  Logo bis box: 82;
  Box:
    padding-up:24;
    width: 337;
    height: 251;
    abstand seite: 19;
            unten: 61;
            top: 355;

  inputs: height:49;
  abstand rand: 16;
  abstand dazwischen: 16;

  FONT(hint): Monzerate Medium 14;
  color-hint: #bdbdbd;
  farbe button: #97dbd5;
  farbe box: #08857a;
  box-shadow: x=0;y=2;blurr=3;black; 50%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);

  pw-reset: 12;
*/
GridLayout{

  padding-top:20%;
  width: 100%;
  height: 275vh; /* 251 */
  box-shadow: 0 2 3 rgba(0, 0, 0, 0.5);
  background-color: #08857a;
}

#forgot{
  margin-top: 7%;
  color: white;
}

CardView{
  width: 84%;
}
