
    <!-- Navigation -->
    <ActionBar title="Dashboard">
            <NavigationButton text="Sandwich-Bar" android.systemIcon="ic_menu_moreoverflow" (tap)="openDrawer()"></NavigationButton>
            <StackLayout orientation="horizontal"
            ios:horizontalAlignment="center"
            android:horizontalAlignment="center">
            <Label text="Dashboard" class="action-label nav-h3"></Label>
          </StackLayout>
          <ActionItem ios.position="right" android.position="actionBar" ios.systemIcon="13" android.systemIcon="ic_menu_refresh"></ActionItem>
    </ActionBar>
    <RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
                    <Label text="Willkommen" class="h2 full-name"></Label>
                    <Label text="manuel.gafoz@htl.rennweg.at" class="e-mail-nav"></Label>
                </StackLayout>
       <!-- <StackLayout class="sideStackLayout">
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Drafts" class="sideLabel"></Label>
        </StackLayout>-->
         <GridLayout class="side-nav-items" columns="*,*" rows="*,*,*,*,*,*" >
                        <Image (tap)="navigateto(dashboard)" src="~/images/dashboard.png" row="0" col="0" width="100" height="100" stretch="aspectFill" class="sideLabel"></Image>
                        <Image (tap)="navigateto(todo)" src="~/images/task.png"  row="0" col="1" width="100" height="100" stretch="aspectFill" class="sideLabel"></Image>
                        <Label (tap)="navigateto(dashboard)" text="Dashboard" row="1" col="0" class="h4 center"></Label>
                        <Label (tap)="navigateto(todo)" text="TODO" row="1" col="1" class="h4 center"></Label>
                        <Image (tap)="navigateto(meeting)" src="~/images/meeting.png"  row="2" col="0" width="100" height="100" stretch="aspectFill" class="sideLabel"></Image>
                        <Image (tap)="navigateto(ticket)" src="~/images/bug.png"  row="2" col="1" width="100" height="100" stretch="aspectFill" class="sideLabel"></Image>
                        <Label (tap)="navigateto(meeting)" text="Meeting" row="3" col="0" class="h4 center"></Label>
                        <Label (tap)="navigateto(ticket)" text="Tickets" row="3" col="1" class="h4 center"></Label>
                        <Image (tap)="navigateto(settings)" src="~/images/settings.png" row="4" col="0" width="100" height="100" stretch="aspectFill" class="sideLabel"></Image>
                        <Image (tap)="logout" src="~/images/logout.png"  row="4" col="1" width="100" height="100" stretch="aspectFill" class="sideLabel"></Image>
                        <Label text="Einstellungen" row="5" col="0" class="h4 center"></Label>
                        <Label text="Logout" row="5" col="1" class="h4 center"></Label>
                    </GridLayout>
        <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
    </StackLayout>
    <StackLayout tkMainContent  class="page">
        <GridLayout columns="*,*,*" rows="20,auto,auto,auto,auto,auto,auto" >
        <Label *ngIf="offlinemode" row="0" colSpan="3" text="OFFLINE" style="text-align:center;background-color:rgb(99, 228, 178);"></Label>
      
        <!-- <ListView [items]="projects" row="1" colSpan="3">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <GridLayout columns="80,auto,auto,auto" rows="auto,auto,auto" (tap)="showDetail(item.id)" class="meeting">
                        <Label text="HEUTE" col="0" row="0" rowSpan="3" class="meeting-indicator h4" margin="0 0 0 5"></Label>
                        <Border cornerRadius="5" col="1" rowSpan="3" class="meeting-border" margin="5"></Border>
                        <Label [text]="item.name" textWrap="true" class="h4" col="2" margin="5 0 0 0"></Label>
                        <Label [text]="item.date" col="2" row="1"  class="text" margin="0"></Label>
                        <Label [text]="item.location" col="2" row="2" class="text" margin="0 5 0 0"></Label>
                        <Label text="..." col="3" rowSpan="3" class="meeting-indicator text"></Label>
                    </GridLayout>
                </ng-template>
        
            </ListView>-->
        
        <GridLayout columns="auto, *" rows="auto" row="1" colSpan="3">
                <Label text="PROJEKTE" (tap)="navigateto(ticket)" row="0" col="0" class="h2"></Label>
                <Label text="see all >" row="0" col="1" style.horizontalAlignment="right" style.verticalAlignment="bottom" class="text" style="margin-right:10;"></Label>
        </GridLayout>
        <!--<Label text="PROJEKTE" row="1" colSpan="3" class="h1"></Label>-->
        <GridLayout columns="*" rows="*" colSpan="3"  row="2" class="project" style="padding:5;">
            <StackLayout orientation="horizontal">   
            <Label *ngFor="let item of projects" [text]="item.name" class="h4 projects"></Label>
                </StackLayout> 
        </GridLayout>
    
        <Label text="TASKS" (tap)="navigateto(ticket)" row="3" colSpan="3" class="h2"></Label>
        <StackLayout row="4" colSpan="3">
                <GridLayout (tap)="showDetail()" columns="5, *" rows="40, auto">
                        <Border cornerRadius="10" col="0" row="0" height="40" width="5" borderColor="#DEE8E7" style="top:0;background-color:#CB1F2C;" margin="10 0 0 0">
                           </Border>
                        <GridLayout col="1" rowSpan="2" columns="auto" class="task" rows="*, *" padding="10">
                                <Label text="UX - Testfälle erstellen" id="task-h1" class="h1" textWrap="true" col="0" row="0" style.fontSize="20"></Label>
                                <Label text="Donec id elit non mi porta gravida at eget metus" class="text" col="0" row="2" style.fontSize="14" style.verticalAlignment="top" style.horizontalAlignment="left" textWrap="true"></Label>
                        </GridLayout>
                      </GridLayout>
        </StackLayout>
        <Label text="MEETINGS" (tap)="navigateto(ticket)" row="5" colSpan="3" class="h2"></Label>
         <!--<ListView [items]="meetings" row="6" colSpan="3">
           --standard listview taken from NativeScript API Reference Angular
            we take as items the "meetings" variable from the component-->
        <StackLayout row="6" colSpan="3">
            <!-- creating the list of meetings
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <!-- columns values: 'due date', 'border', 'details of meetings' -->
                <!-- margins dont apply when defined in css file -> use as inline css -->
                <GridLayout *ngFor="let item of meetings" columns="80,auto,auto,*" rows="auto,auto,*" (tap)="showDetail(item.id)" class="meeting"  marginBottom="10">
                    <Label text="HEUTE" col="0" row="0" rowSpan="3" class="meeting-indicator h4" margin="0 0 0 5"></Label>
                    <Border cornerRadius="5" col="1" rowSpan="3" class="meeting-border" margin="5"></Border>
                    <Label [text]="item.name" textWrap="true" class="h4" col="2" margin="5 0 0 0"></Label>
                    <Label [text]="item.date" col="2" row="1"  class="text" margin="0"></Label>
                    <Label [text]="item.location" col="2" row="2" class="text" margin="0 5 0 0"></Label>
                    <Label text="..." col="3" rowSpan="3" class="meeting-cont" margin="0 20 20 20"></Label>
                </GridLayout>
            <!--</ng-template
    
        </ListView>>-->
    </StackLayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>