@import '~/nativescript-theme-core/css/core.light.css';
@import url("~/custom.css");
.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

Page {
    background-color: #ECEDEE;
    font-size: 15;
}

TextField {
    padding: 10;
    font-size: 15;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: "Montserrat-Medium";
}

.h5 {
    color: #a2a2a2;
}

.nav-h1,
.nav-h2,
.nav-h3,
.nav-h4,
.nav-h5 {
    font-family: "Montserrat-Medium";
    color: #fff;
}

.text,
Label,
.textfield {
    font-family: "Mukta-Light";
}

.textfield {
    border-width: 1 1 1 1;
    border-color: #9e9e9e;
    margin-bottom: 5;
}

.page {
    padding-left: 10;
    background-color: #ECEDEE;
}

.center {
    text-align: center;
}


/* Navigation */

.sideStackLayout {
    background-color: #29A699;
    color: #FFFFFF;
}

.sideTitleStackLayout {
    padding: 16;
    font-weight: bold;
    background-color: #29A699;
}

.sideLabel {
    padding: 16;
    color: #fff;
}

.full-name,
.e-mail-nav {
    text-align: center;
}

.full-name {
    margin-top: 10;
    font-weight: bold;
    font-size: 20;
}

.e-mail-nav {
    font-size: 12;
}

.nav-items {
    padding: 20;
}

ActionBar {
    color: #fff;
    background-color: #29A699;
    text-align: center;
}

.side-nav-items {
    padding: 20;
    color: #fff;
}

.nav-label {
    color: #fff;
}


/* from dashboard */


.add-bar {
    background-color: #CB1D00;
    padding: 5 10;
}

.add-bar Image {
    height: 15;
    vertical-align: center;
    margin-left: 10;
    margin-right: 5;
}

.data {
    margin-left: 10;
    margin-top: 10;
    margin-bottom: 10;
}

h1 {
    font-weight: 500;
    font-size: 15;
}

.task,
#task-h1 {
    vertical-align: middle;
    background-color: #FAF9FA;
}


/* projects */

.project {
    background-color: #FFFFFF;
    margin-right: 20;
}


/* Meeting */

.meeting {
    vertical-align: middle;
    background-color: #FFFFFF;
    margin-bottom: 20;
}

.meeting-indicator {
    vertical-align: center;
    text-align: center;
}

.meeting-cont {
    vertical-align: center;
    text-align: right;
    font-size: 50;
}

.hr {
    height: 10;
    border-color: #000000;
    width: 100%;
}


/* tickets and tasks */

.borderitem {
    margin-top: 5;
    border-width: 2 2 2 2;
    border-radius: 2;
    vertical-align: top;
    background:none;
}

.listitem {
    background-color: #FFFFFF;
    padding: 10;
}

.marginitem {
    /*background-color: #FFFFFF;*/
    margin-bottom: 10;
}

.data {
    margin-left: 10;
    margin-top: 10;
    margin-bottom: 10;
}

h1 {
    font-weight: 500;
    font-size: 15;
}

.right {
    text-align: right;
    margin-right: 20;
    vertical-align: middle;
}

.form-taskticket {
    background-color: #ffffff;
}

.details {
    margin-top: 0;
    background-color: #FFFFFF;
    color: #000000;
    padding: 10;
    width: 90%;
    margin-right: 5%;
}

.longtext {
    background-color: #FFFFFF;
    border-bottom-color: #FAF9FA;
}

.fa {
    font-size: 40;
}

.field-seperator {
    border-width: 1 1 1 1;
    border-color: #9e9e9e;
    background-color: #9e9e9e;
    margin-bottom: 10;
    margin-top: 10;
}

.btn-img {
    border-radius: 100;
    border-width: 1;
    padding: 10;
    color: #ffffff;
    border-color: #29a699;
    background-color: #29a699;
    margin-right: 10;
}

.attention {
    background-color: #ff1744;
    border-color: #ff1744;
}

.time {
    margin-right: 20;
}