.textfield {
    border-color: #CECECE;
    border-width: 1 1 1 1;
    margin: 0 20 0 20;
    padding: 3 3 3 3;
    font-size: 18;
}

.h4 {
    margin: 5 0 0 20;
}

#meeting-detail {
    background: #FAFAFA;
}