@import url('https://fonts.googleapis.com/css?family=Ek+Mukta|Montserrat');

/*
	Projectbox - main stylesheet for homepage
	created by Rommelt Pineda [PIN]


	index:
	[typo]
	[colors]

*/


/* typo */

html, body {
	line-height: 1.5;
	height:100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}

p,
span {
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 50;
}


/* colors */

.projectbox-color {
	color: #009b8d;
}

.projectbox-bg-color {
	background: #009b8d;
	color: #fff;
}

.white {
	color: #fff;
}

.dark {
	color: #000;
}

.dark a {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #0aa699;
}

/* navigation */

#fix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.navbar {
	height: 80px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.navbar-brand {
	padding: 0;
}

.nav-item {
	color: #fff;
	margin: 20px;
}

#button {
	color: white;
	background: #00786e;
	border: 1px solid #009b8d;
	padding: 10px 15px 10px 16px;
	color: #ffffff;
	border-radius: 5px;
}

.navbar-item.is-tab:hover {
	color: #fff;
}

.navbar-item:hover,
.navbar-brand:hover,
.navbar-link:hover {
	background: #009b8d;
}

.navbar-brand {
	position: absolute;
	z-index: 1000;
	margin-top: 0px;
	margin-left: 170px;
	width: 80px;
	height: 80px;
}

.navbar-brand img {

}

.navbar a,
.navbar-brand a,
a {
	color: #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar a:hover, .navbar-brand a:hover {
	color: #4d4b4b;
	border-bottom: 3px solid #31c6b8;
}


/* sections */

.card-block {
	padding: 10px;
}

.card {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	margin: 5px;
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section {
	padding: 30px;
	padding-bottom: 30px;
}

#adjust {
	margin-top: 30vh;
}

#adjust2 {
	margin-top: 40vh;
}

#top {
    min-height: 90vh;
    display: flex; /* NEW */
		background: url('../img/office.min.jpg');
		background-repeat: center center no-repeat;
 		background-size: cover;
 		color:#fff;
}

#pre-footer a{
	color:#000;
}

.dark a:hover {
	color:#009b8d;
}

footer, .footer, .dark, .footer a{
	background-color:#131518;
	color: #7c828e;
}

.card-text {
	font-size: 1.2rem;
}

.splitter {
	min-height:10px;
	background-color:#191b1f;
}

#down {
	position: absolute;
	margin-top: 230px;
}

#divdown {
	margin-top: 50px;
}


a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

h1 {
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

h1 span, h2 span, section span {
	position:relative;
	margin-top:120px;
}

#functions {
	padding: 30px;
}

#pcimage{
	margin-top: 30px;
	margin-bottom: 30px;
}

footer {
	padding: 30px;
}

#font {
	font-size: 13px;
}

#abstandleft {
	margin-left: 60px;
}

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #bebebe;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #009b8d;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #009b8d;
	margin-top: 0px;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.progress-pie-chart {
  margin: 50px auto 0;
}

#project {
	height: 90%;
	line-height: 2;
	width: 60%;
	margin: auto;
}

@media only screen and (max-width: 768px) {
    .navbar-brand img{
    	width: 30px;
    	height: 30px;
    }

		.navbar-brand {
			position: relative;
			z-index: 1000;
			margin-left: 0px;
			width: 30px;
			height: 30px;
		}

		body {
			overflow-x: hidden;
			overflow-y: hidden;
		}
}
