@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400');


html, body {
	line-height: 1.5;
	height:100%;
	width: 100%;
}

h1,
h2,
h3,
h5 {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.subhead {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

#titlesub {
	font-weight: 200;
}

p,
span {
	font-family: 'Ek Mukta', sans-serif;
	font-weight: 200;
}

/* colors */

.projectbox-color {
	color: #009b8d;
}

.projectbox-bg-color {
	background: #009b8d;
	color: #fff;
}

.white {
	color: #fff;
}

.dark {
	color: #000;
}

.dark a {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #0aa699;
}

/* navigation */

#fix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.navbar {
	height: 80px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.navbar-brand {
	padding: 0;
}

.nav-item {
	color: #fff;
	margin: 20px;
}

#button {
	color: white;
	background: #00786e;
	border: 1px solid #009b8d;
	padding: 10px 15px 10px 16px;
	color: #ffffff;
	border-radius: 5px;
}

.navbar-item.is-tab:hover {
	color: #fff;
}

.navbar-item:hover,
.navbar-brand:hover,
.navbar-link:hover {
	background: #009b8d;
}

.navbar-brand {
	position: absolute;
	z-index: 1000;
	margin-top: 0px;
	margin-left: 170px;
	width: 80px;
	height: 80px;
}

.navbar-brand img {

}

.navbar a,
.navbar-brand a,
a {
	color: #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar a:hover, .navbar-brand a:hover {
	color: #4d4b4b;
	border-bottom: 3px solid #31c6b8;
}


/* sections */

.card-block {
	padding: 10px;
}

.card {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	margin: 5px;
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section {
	padding: 30px;
	padding-bottom: 30px;
}

#adjust {
	margin-top: 30vh;
}

#adjust2 {
	margin-top: 40vh;
}

#top {
    min-height: 90vh;
    display: flex; /* NEW */
		background: url('../img/office.min.jpg');
		background-repeat: center center no-repeat;
 		background-size: cover;
 		color:#fff;
}

#pre-footer a{
	color:#000;
}

.dark a:hover {
	color:#009b8d;
}

footer, .footer, .dark, .footer a{
	background-color:#131518;
	color: #7c828e;
}

.card-text {
	font-size: 1.2rem;
}

.splitter {
	min-height:10px;
	background-color:#191b1f;
}

#down {
	position: absolute;
	margin-top: 230px;
}

#divdown {
	margin-top: 50px;
}


a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

h1 {
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

h1 span, h2 span, section span {
	position:relative;
	margin-top:120px;
}

#functions {
	padding: 30px;
}

#pcimage{
	margin-top: 30px;
	margin-bottom: 30px;
}

footer {
	padding: 30px;
}

#font {
	font-size: 13px;
}

#abstandleft {
	margin-left: 60px;
}

/*
    Progress Bar
*/

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #bebebe;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #009b8d;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #009b8d;
	margin-top: 0px;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}


#neu {
	width: 100%;
	font-size: 12pt;
	margin: auto;
}

@media only screen and (max-width: 1300px) {
    .navbar-brand img{
    	width: 30px;
    	height: 30px;
    }

		.navbar-brand {
			position: relative;
			z-index: 1000;
			margin-left: 0px;
			width: 30px;
			height: 30px;
		}

}


/* Test */
@import
url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.box-icon {
  text-align: center;
  position: relative;
}

.box-icon > .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #009b8d;
  vertical-align: middle;
		transition: 0.3s all ease;
}

.box-icon:hover > .image {
  background: #333;
}

.box-icon > .image > i {
  font-size: 36px !important;
  color: #fff !important;
  line-height: 1;
  display: inline-block;
}

.box-icon:hover > .image > i {
  color: white !important;
}

.box-icon > .info {
  margin-top: -24px;
  /*background: rgba(0, 0, 0, 0.04);*/
  border: 1px solid #e0e0e0;
  padding: 15px 0 10px 0;
	transition: 0.3s all ease;
}

.box-icon:hover > .info {
  background: rgba(0, 0, 0, 0.02);
  border-color: #e0e0e0;
  color: white;
}

.box-icon > .info > h3.title {
  font-size: 20px;
  color: #4d4b4b;
  font-weight: 500;
}

.box-icon > .info > p {
  font-size: 14px;
  color: #666;
  line-height: 2em;
  margin: 20px;
}

.box-icon:hover > .info > h3.title,
.box-icon:hover > .info > p,
.box-icon:hover > .info > .more > a {

}

.box-icon > .info > .more a {
  font-size: 12px;
  color: #222;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.box-icon:hover > .info > .more > a {
  color: #fff;
  padding: 6px 8px;
  background-color: #ff0000;
}

.box .space {
  height: 30px;
}
