<GridLayout #slide
            row="0"
            [backgroundColor]="backgroundColor"
            [translateY]="translateY"
            [translateX]="translateX"
            class="slide"
            rows="auto, *"
            columns="*">
    <Button *ngIf="hasNext"
            #skipBtn
            row="0"
            col="0"
            (tap)="onSkip.next(true)"
            [isEnabled]="interactive"
            class="slide-btn slide-btn-skip"
            [text]="skipButtonText"></Button>
    <Image *ngIf="imageUrl"
           row="1"
           col="0"
           class="slide-image"
           width="100%"
           height="100%"
           [src]="imageUrl"
           (swipe)="onContinue.next(true)"
    ></Image>
</GridLayout>
